In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:95% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font color="red" size="5">ch05_.함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩1.(같은 이름의 함수를 매개변수를 달리해서 사용) 파이썬 불가
- 오버로딩2.(함수 이름이 같고, 매개변수의 타입의나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
def add(a, b):
    print(1)
def add(a):
    print(2)

In [17]:
# 함수 정의
def my_message(x, msg): # msg x번 출력하는 함수
    for i in range(x):
        print(msg)

In [15]:
# 함수 사용
my_message()

TypeError: my_message() missing 2 required positional arguments: 'x' and 'msg'

In [18]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [19]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [20]:
type(my_msg), type(my_message)

(function, function)

In [21]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [22]:
my_message(2, 'Hello')

Hello
Hello

In [3]:
my_message = 5

In [4]:
def my_message(a, b):
    pass

In [5]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [6]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

In [7]:
# 함수사용 = 함수호출
my_hello()

Hello, Python
Hello, World

In [9]:
# 함수 정의 : 4월 16일
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [10]:
# 함수 사용 = 함수 호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [11]:
my_hello

In [12]:
__name__

'__main__'

In [14]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [3]:
import ch05 # ch05모듈을 load

In [4]:
ch05.my_hello

In [5]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [6]:
from ch05 import my_hello # ch05모듈안의 my_hello load

In [7]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [13]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링을 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [10]:
def my_function()

SyntaxError: expected ':' (2330405485.py, line 1)

In [15]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링을 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [17]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() #개행

In [18]:
fibonacci(10)

0 1 1 2 3 5 8

In [19]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [21]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수안 : 100
함수 밖 : 100

In [22]:
def func2():
    local_var = 200 # 지역변수
    print('함수안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수안 : 200

NameError: name 'local_var' is not defined

In [24]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [25]:
g_var = 100 # 전역변수
def funnc4():
    print('함수 안 :', g_var)
    g_var = 200 # 지역변수
funnc4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [27]:
# 렉시컬 특성
g_var = 100 # 전역변수
def funnc4():
    print('함수 안 :', g_var)
    # g_var = 200  지역변수를 할당 하지 않으면 오류가 나지 않음
funnc4()

함수 안 : 100

In [29]:
# 렉시컬 특성
g_var = 100 # 전역변수
def funnc4():
    global g_var 
    print('함수 안 :', g_var)
    g_var = 200  # 전역변수로 바꾸고 싶다면
funnc4()
print('함수 밖 :', g_var)

함수 안 : 100
함수 밖 : 200

In [31]:
# 렉시컬 특성 예시
g_var = 100 # 전역변수
def funnc4():
    # global g_var # funnc4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 :', g_var)
    g_var = 200  # 전역변수로 바꾸고 싶다면
funnc4()
print('함수 밖 :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [32]:
# 렉시컬 특성 예시
g_var = 100 # 전역변수
def funnc4():
    # global g_var # funnc4함수내의 g_var는 전역변수를 쓴다
    g_var = 300
    print('함수 안 :', g_var)
    g_var = 200  # 전역변수로 바꾸고 싶다면
funnc4()
print('함수 밖 :', g_var)

함수 안 : 300
함수 밖 : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인수=인자)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [30]:
foo = 10 # 전역변수
id(foo)

2327262134800

In [31]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f*3
    print('After :', f , ' id(f) :', id(f))
func1(foo)

Before : 10  id(f) : 2327262134800
After : 30  id(f) : 2327262135440

In [32]:
print(foo, id(foo))

10 2327262134800

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자=인수)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [36]:
L = [1, 2, 3]
id(L)

2952539672000

In [46]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f)) 
    f.append(4)
    print('after :', f, id(f)) 
func2(L)

Before : [1, 2, 3, 4, 4, 4] 2952539672000
after : [1, 2, 3, 4, 4, 4, 4] 2952539672000

In [47]:
print('L =', L, id(L))

L = [1, 2, 3, 4, 4, 4, 4] 2952539672000

# 2절. 함수의 실행 결과를 반환하는 return

In [34]:
def fibonacci_print(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행    
def fibonacci_return(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [35]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [36]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [68]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [74]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [4]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [5]:
print(make_url('www.naver.com'))
print(make_url('localhost' , 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [6]:
i = 5
l = []
def func2(arg=l):
    pass

In [7]:
i = 10

In [8]:
func2()

In [10]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg =', arg)

In [11]:
i = 50
func2()

arg = 5

In [12]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터 구조)일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [13]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [14]:
print(func3(20))

[10, 20]

In [15]:
list_

[10, 20]

In [19]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [20]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [39]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [41]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [42]:
# *args: 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ',args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [43]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

1
3
6
25

In [44]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [46]:
def concat(*subject, sep):
    return sep.join(subject)

In [49]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [50]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [51]:
# 해결책2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [52]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [53]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [54]:
# 해결책 3
def concat(sep, *subject):
    return sep.join(subject)

In [55]:
concat('Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [57]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [58]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [59]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [60]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [61]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [62]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [63]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [64]:
func7(10, 20, 1, 2, 3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 함수 호출시 매개변수앞에 * 붙임

In [65]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [66]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [67]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [68]:
numbers = (1,2,3,4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹

In [69]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [70]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [72]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
## 4.1 람다식 연습

In [80]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
    result = "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
print('매개변수는 :',ex1(5))
print('매개변수는 :',ex1(8))

매개변수는 : 홀수
매개변수는 : 짝수

In [87]:
# ex2. 두 매개변수의 차이를 return
# def ex2(num1, num2):
#     ex2_lambda = lambda num1, num2: num1 - num2
#     return num1 - num2
# result = ex2(10, 5)
# print(f"10과 5의 차이: {result}")
def diff(a, b):
#     if a>b:
#         result = a-b
#     else:
#         result = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [88]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10, 20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [89]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'nagative'를 return
ex3 = lambda money : money if money>0 else 'nagative'
ex3(1000), ex3(-100)

(1000, 'nagative')

In [94]:
# ex4. 점수를 입력받아 점수가 80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험.
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(83), ex4(70), ex4(40)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [ ]:
# ex4. 점수를 입력받아 점수가 80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험.
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(83), ex4(70), ex4(40)

In [95]:
# ex5. 두 매개변수의 차이를 return
def safe_index(vecter, data):
    if data in vecter:  
        return vecter.index(data)
    else:
        return -1

In [1]:
ex5 = lambda vecter, data : vecter.index(data) if data in vecter else -1
tup =(1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 이용

### (1) map

In [8]:
def map_template(func, L=[]):
    '''
    L의 모든 요소를 func()함수를 적용시켜 return
    [2,4,6]
    '''
    result = []
    for l in L :
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [9]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
'''
예1. [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [16]:
def func(x):
    return int(x.replace(',',''))
func("5,000"), func("1800")

(5000, 1800)

In [ ]:
list(map(lambda x : int))

In [36]:
'''
예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'},]를
    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다
'''
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
           {'name':'신길동', 'birth':'1998-12-31'},]

In [37]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_data(data):
    split_data = data.split('-')
    print(split_data)

In [25]:
split_data("2000-01-01")

['2000', '01', '01']

In [38]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_data(data):
    split_data = data.split('-')
#     print(split_data[0], split_data[1], split_data[2],)
    return {'year': int(split_data[0]),
           'mouth': int(split_data[1]),
           'day': int(split_data[2])}

In [39]:
split_data("2000-01-01")

{'year': 2000, 'mouth': 1, 'day': 1}

In [40]:
def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'mouth':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'mouth': 1, 'day': 1}

In [42]:
mamber2 = list(map(lambda member : {
                        'name':member.get('name'),
                        'year':int(member['birth'].split('-')[0]),
                        'mouth':int(member['birth'].split('-')[1]),
                        'day':int(member['birth'].split('-')[2]),
                        } ,
        member1
        )
    )
mamber2

[{'name': '홍길동', 'year': 2000, 'mouth': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'mouth': 12, 'day': 31}]

In [ ]:
'예3. member2를 member1로 바꿉니다'

In [44]:
# {'year': 2000, 'month': 1, 'day': 1} => "2000-01-01"를 return하는 함수
def join_date(data):
    # print([data.get('year'), data.get('month'), data.get('day')])
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [50]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [ ]:
def join_date(data):
    return ""

In [47]:
join_date({'year': 2000, 'month': 1, 'day': 1})

2000-01-01

In [53]:
member2

[{'name': '홍길동', 'year': 2000, 'mouth': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'mouth': 12, 'day': 31}]

In [56]:
# {'name':'홍길동', 'year':2000, 'mouth':1, 'day':1}(member2)를 
# {'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
                        'name' : member.get('name'),
                        'birth': "{year}-{mouth:02}-{day:02}".format(**member)
                        },
    member2
))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map : [1,2,3,4,5] => [2,4,6,8,10] (벡터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)

- cf. 리스트 컴프리헨션

In [57]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [58]:
def evenChk(value):
    return value%2==0
evenChk(10), evenChk(-9)

(True, False)

In [59]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0 ,  list_data)

[2, 4]

In [60]:
list(filter(lambda value : value%2==0, list_data))

[2, 4]

In [61]:
[data for data in list_data if data%2==0]

[2, 4]

### (3) sort

In [62]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [63]:
# 무조건 0번째 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [64]:
# 무조건 0번째 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [65]:
# 리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3])

6

In [66]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda data : sum(data), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [67]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [68]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students.sort(key = lambda item : item.get('name','힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [69]:
# score순으로 정렬(내림차순정렬 : reverse=True)
students.sort(key = lambda item : item.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [70]:
# 책제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순정렬
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]

In [71]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'}]

In [72]:
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [73]:
books.sort(key = lambda book : book.get('price', 0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [74]:
# '14,000' -> 14000 / "2000" -> 2000 / 800 -> 800 / '-' -> 0
def parse_int(price):
    #print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',', ''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [75]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int('-')

(8000, 8000, 800, 0)

In [76]:
# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return
# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220
# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and \
            book.get('price').replace(',','').isdigit():
        return int( book.get('price').replace(',','') )
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0
parse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])

(0, 900, 14220, 0)

In [80]:
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]
copy_books = books.copy() # 깊은 복사

In [81]:
copy_books.sort(key = lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0                
               )

In [82]:
# 람다식 테스트 확인
(lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0 )(books[0])

25200

In [83]:
copy_books

[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]

In [84]:
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'}]

## 4.3 return문에 람다식 이용

In [85]:
# 함수를 return
def make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,
                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [86]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]

In [87]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [88]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간두되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [93]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': "\n예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]를\n    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다\n",
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  "def map_template(func, L=[1, 2, 3]):\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2,4,6]\n    '''\n    result = []\n    for l in L :\n        result.append(func(L))\n    return result\n#     return [func(l) for l in L]    ",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  "def map_template(func, L=[1, 2, 3]):\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2,4,6]\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n    return result\n#     return [func(l) for l in L]    ",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  '# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션\n[l*2 for l in list_data]',
  '# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수\nlist(map(lambda x : x_2, list_data))',
  "def map_template(func, L=[]):\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2,4,6]\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n    return result\n#     return [func(l) for l in L]   ",
  '# 리스트 데이터를 가공 방법 1. map_template\nlist_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\nmap_template(lambda x : x*2, list_data)\n# def x_2(x):\n#     return x*2\n# map_template(x_2, list_data)',
  '# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수\nlist(map(lambda x : x_2, list_data))',
  '# 리스트 데이터를 가공 방법 3. map():파이썬 내장함수\nlist(map(lambda x : x*2, list_data))',
  "'''\n예1. [5000,800,1000,6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']",
  "'''\n예1. [5000,800,1000,6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']",
  'def func(x):\n    return int(x.replace(\',\',\'\'))\nfunc("5,000"), func("1800")',
  "'''\n예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]를\n    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다",
  'def func(x):\n    return int(x.replace(\',\',\'\'))\nfunc("5,000"), func("1800")',
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = date.split('-')\n    print(split_data)",
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = date.split('-')\n    print(split_data)",
  'split_data("200-01-01")',
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = date.split('-')\n    print(split_data)",
  'split_data("200-01-01")',
  'split_data("2000-01-01")',
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = data.split('-')\n    print(split_data)",
  'split_data("2000-01-01")',
  'split_data("2000-01-01")',
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = data.split('-')\n#     print(split_data[0], split_data[1], split_data[2],)\n    return {'year': int(split_data[0]),\n           'mouth': int(split_data[1]),\n           'day': int(split_data[2])}",
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = data.split('-')\n#     print(split_data[0], split_data[1], split_data[2],)\n    return {'year': int(split_data[0]),\n           'mouth': int(split_data[1]),\n           'day': int(split_data[2])}",
  'split_data("2000-01-01")',
  'split_data("2000-01-01")',
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'mouth\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[1]),\n    }\nmember_func(member1[0])',
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'mouth\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[1]),\n    }\nmember_func(memberl[0])',
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'mouth\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[1]),\n    }\nmember_func(member1[0])',
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'mouth\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'mouth\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "member2 = list(map(lambda member : {\n                        'name':member.get('name'),\n                        'year':int(member['birth'].split('-')[0]),\n                        'mouth':int(member['birth'].split('-')[1]),\n                        'day':int(member['birth'].split('-')[2]),\n                        } ,\n        member1\n        )\n    )",
  "'''\n예2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]를\n    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다\n'''\nmember1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n           {'name':'신길동', 'birth':'1998-12-31'},]",
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = data.split('-')\n    print(split_data)",
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_data(data):\n    split_data = data.split('-')\n#     print(split_data[0], split_data[1], split_data[2],)\n    return {'year': int(split_data[0]),\n           'mouth': int(split_data[1]),\n           'day': int(split_data[2])}",
  'split_data("2000-01-01")',
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'mouth\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "member2 = list(map(lambda member : {\n                        'name':member.get('name'),\n                        'year':int(member['birth'].split('-')[0]),\n                        'mouth':int(member['birth'].split('-')[1]),\n                        'day':int(member['birth'].split('-')[2]),\n                        } ,\n        member1\n        )\n    )",
  "mamber2 = list(map(lambda member : {\n                        'name':member.get('name'),\n                        'year':int(member['birth'].split('-')[0]),\n                        'mouth':int(member['birth'].split('-')[1]),\n                        'day':int(member['birth'].split('-')[2]),\n                        } ,\n        member1\n        )\n    )\nmamber2",
  "'예3. member2를 member1로 바꿉니다'",
  '# {\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1} => "2000-01-01"를 return하는 함수\ndef join_date(data):\n    print(data)',
  "join_date({'year':2000, 'month':1, 'day':1})",
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                  data.get(\'month\'), \n                                  data.get(\'day\')))',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                  data.get(\'month\'), \n                                  data.get(\'day\')))',
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                  data.get(\'month\'), \n                                  data.get(\'day\')))',
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                  data.get(\'month\'), \n                                  data.get(\'day\')))',
  'member2',
  '# {\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를 \n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n                        \'name\' : member.get(\'name\'),\n                        \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n                        },\n    member2\n))',
  'member2',
  '# {\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를 \n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n                        \'name\' : member.get(\'name\'),\n                        \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n                        },\n    member2\n))',
  '# {\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를 \n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n                        \'name\' : member.get(\'name\'),\n                        \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n                        },\n    member2\n))',
  '# {\'name\':\'홍길동\', \'year\':2000, \'mouth\':1, \'day\':1}(member2)를 \n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n                        \'name\' : member.get(\'name\'),\n                        \'birth\': "{year}-{mouth:02}-{day:02}".format(**member)\n                        },\n    member2\n))',
  'def filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def evenChk(value):\n    return value%2==0\nevenChk(10), evenChk(-9)',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0 ,  list_data)',
  'list(filter(lambda value : value%2==0, list_data))',
  '[data for data in list_data if data%2==0]',
  'p = [9, 2, 7]\np.sort(reverse=True)\np',
  "# 무조건 0번째 item 기준으로 정렬\npairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]\npairs.sort()\npairs",
  '# 무조건 0번째 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  '# 리스트를 매개변수로 받아 합을 return\n(lambda item : sum(item))([1,2,3])',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda data : sum(data), reverse=True)\nnumber2d',
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n    {'score':100}\n]",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key = lambda item : item.get('name','힣'))\nstudents",
  "# score순으로 정렬(내림차순정렬 : reverse=True)\nstudents.sort(key = lambda item : item.get('score', 0), reverse=True)\nstudents",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "books.sort(key = lambda book : book.get('price', 0))\nbooks",
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy() # 깊은 복사",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "# 람다식 테스트 확인\n(lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0 )(books[0])",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy() # 깊은 복사",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "# 람다식 테스트 확인\n(lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0 )(books[0])",
  'copy_books',
  'books',
  '# 함수를 return\ndef make_box(shape): # shape : [l]=>len가 l인 list를 생성하는 함수 return,\n                    #          [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [ [init_value]*shape[1] ] * shape[0]\n    return box',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    elif len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]',
  'line_func = make_box([2,3])\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  'globals() # 전역변수 리스트',
  'all([True, True, True, False]) # 전부 True인지 여부',
  'round(3.5) # 반올림',
  'import numpy as np # numpy 모듈을 np라는 이름으로 load\nnp.round(3.5), np.ceil(3.1), np.floor(3.9) # 반올림, 올림, 내림',
  'globals() # 전역변수 리스트'],
 '_oh': {3: [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]],
  5: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
  6: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
  7: [<function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>],
  9: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
  10: [<function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>,
   <function __main__.x_2(x)>],
  11: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
  14: (5000, 1800),
  16: (5000, 1800),
  28: {'year': 2000, 'mouth': 1, 'day': 1},
  29: {'year': 2000, 'mouth': 1, 'day': 1},
  39: {'year': 2000, 'mouth': 1, 'day': 1},
  40: {'name': '홍길동', 'year': 2000, 'mouth': 1, 'day': 1},
  42: [{'name': '홍길동', 'year': 2000, 'mouth': 1, 'day': 1},
   {'name': '신길동', 'year': 1998, 'mouth': 12, 'day': 31}],
  43: '예3. member2를 member1로 바꿉니다',
  51: [{'name': '홍길동', 'year': 2000, 'mouth': 1, 'day': 1},
   {'name': '신길동', 'year': 1998, 'mouth': 12, 'day': 31}],
  53: [{'name': '홍길동', 'year': 2000, 'mouth': 1, 'day': 1},
   {'name': '신길동', 'year': 1998, 'mouth': 12, 'day': 31}],
  56: [{'name': '홍길동', 'birth': '2000-01-01'},
   {'name': '신길동', 'birth': '1998-12-31'}],
  58: (True, False),
  59: [2, 4],
  60: [2, 4],
  61: [2, 4],
  62: [9, 7, 2],
  63: [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')],
  64: [[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]],
  65: 6,
  66: [[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]],
  68: [{'score': 100},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90},
   {'name': '김길동', 'score': 50}],
  69: [{'score': 100},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90},
   {'name': '김길동', 'score': 50}],
  71: [{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}],

In [90]:
all([True, True, True, False]) # 전부 True인지 여부

False

In [91]:
round(3.5) # 반올림

4

In [92]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.1), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

## 6절. 연습문제

### 실습형

In [104]:
# 1.
get_max_min = lambda data_list: (max(data_list), min(data_list)) if data_list else (None, None)

In [105]:
print(get_max_min([1, 2, 3, 4]))

(4, 1)

In [107]:
print(get_max_min([]))

(None, None)

In [108]:
# 2.
getBMI = lambda w, h: (
    "신장은 0보다 커야 합니다." if h <= 0 else
    "마른 체형" if w / (h ** 2) < 18.5 else
    "표준" if w / (h ** 2) < 25 else
    "비만" if w / (h ** 2) < 30 else
    "고도비만"
)

In [109]:
print(getBMI(50, 1.7))  
print(getBMI(68, 1.75)) 
print(getBMI(85, 1.7))  
print(getBMI(100, 1.7)) 
print(getBMI(70, 0))

마른 체형
표준
비만
고도비만
신장은 0보다 커야 합니다.

In [112]:
# 3.
import math

def get_triangle(width, height):
    area = 0.5 * width * height
    hypotenuse = math.sqrt(width**2 + height**2)
    perimeter = width + height + hypotenuse
    return area, perimeter

In [113]:
a, p = get_triangle(3, 4)
print(f"면적: {a:.2f}, 둘레: {p:.2f}")

면적: 6.00, 둘레: 12.00

In [114]:
# 4. 
def mysum(start, stop):
    if start > stop:
        start, stop = stop, start  
    return sum(range(start, stop + 1))

In [115]:
print(mysum(1, 10))
print(mysum(5, 5))
print(mysum(10, 1))

55
5
55

In [116]:
# 5. 
get_abbrs = lambda lst: [word[:3] for word in lst]

In [117]:
cities = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
print(get_abbrs(cities))

['Seo', 'Dae', 'Kwa', 'Jej']

In [ ]:
def f(x, y)
    return x**y

In [118]:
# 6.
f_lambda = lambda x, y: x**y

In [120]:
result = f_lambda(2, 3)
print(result)

8

In [121]:
# 7-1.
ex = [1, 2, 3, 4, 5]
result_map = list(map(lambda x: x**2, ex))
print(f"람다 함수와 map() 결과: {result_map}")

람다 함수와 map() 결과: [1, 4, 9, 16, 25]

In [122]:
# 7-2.
ex = [1, 2, 3, 4, 5]
result_comprehension = [x**2 for x in ex]
print(f"리스트 컴프리헨션 결과: {result_comprehension}")

리스트 컴프리헨션 결과: [1, 4, 9, 16, 25]

### 서술형

In [ ]:
# 8.
*a는 리스트의 요소들을 풀어서 print() 함수의 개별 인자로 전달하므로, 요소들이 공백으로 구분되어 출력

In [ ]:
# 9.
2024-9-6

In [125]:
# 10.
vector_size_check = lambda *vector_var: len(set(len(vec) for vec in vector_var)) <= 1

In [126]:
print(vector_size_check([1, 2], [3, 4], [5, 6]))     
print(vector_size_check([1, 2], [3, 4, 5]))        
print(vector_size_check([1, 2, 3], (4, 5, 6), {7, 8, 9})) 
print(vector_size_check())

True
False
True
True

In [127]:
vector_size_check = lambda *vector_var: all(len(vector_var[0]) == len(vec) for vec in vector_var) if vector_var else True

In [128]:
print(vector_size_check([1, 2], [3, 4], [5, 6]))     
print(vector_size_check([1, 2], [3, 4, 5]))        
print(vector_size_check([1, 2, 3], (4, 5, 6), {7, 8, 9})) 
print(vector_size_check())

True
False
True
True

In [129]:
# 11.
def scalar_vector_product(scalar, vector):
    return [scalar * element for element in vector]

In [132]:
result1 = scalar_vector_product(5, [1, 2, 3, 4])
result2 = scalar_vector_product(2, (1.5, 2.5, 3.5))
result3 = scalar_vector_product(3, {10, 20, 30})
print(result1)
print(result2)
print(result3)

[5, 10, 15, 20]
[3.0, 5.0, 7.0]
[30, 60, 90]

In [11]:
def mapping(addr):
    table = [1,2,5,9,6,4,0,3,8,7]
    SIZE = 20
    return table [addr//SIZE]
    
group = [9,8,7,6,5,4,3,2,1,0]
loc = [127, 64, 188]

for i, x in enumerate(loc):
    print(group[mapping(loc[i])], end=' ')

9 0 2

In [13]:
a = 10
def sub():
    a += 1
    print(a, end='')
    
def func():
    for i in range(2):
        a = 5
        a += 1
        print(a, end='')
        sub()
        
a += 1
func()

6

UnboundLocalError: local variable 'a' referenced before assignment

In [15]:
a = 10

def sub():
    global a # 글로벌 변수 a로 수정
    a += 1
    print(a, end='')
    
def func():
    for i in range(2):
        a = 5
        a += 1
        print(a, end='')
        sub()
        
a += 1
func()

612613

In [20]:
var = 100 
def func(var): 
    var = 200 
func(var) 
print(var)

100

In [26]:
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [27]:
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [ ]:
# 6.
파이썬의 함수는 중복 정의해 사용할 수 없다.

In [ ]:
# 7.
4번 func([], a=40)
TypeError: func() got multiple values for argument 'a'

In [ ]:
# 8.
lambda