In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="s" color="red">ch02 자료형과 연산자</font>
# 5절 연산자
## 5.1 산술연산자:+,-,*,/,//(몫), %(나머지), **(제곱)

In [1]:
print('10의 5승 :',10**5)
print('4/2(결과 실수) :', 4/2)
print('4//2(몫) :', 4//2)
print('4%2(나머지) :', 4%2)

10의 5승 : 100000
4/2(결과 실수) : 2.0
4//2(몫) : 2
4%2(나머지) : 0

In [2]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input('정수를 입력하세요 :'))
result = num%2
if result:
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}, 그래서 {temp}를 입력하셨군요")

정수를 입력하세요 :10
입력하신 수는 10, 2로 나눈 나머지는 0, 그래서 짝수를 입력하셨군요

In [3]:
# quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input('정수를 입력하세요 :'))
if num%5:
    temp = "5의 배수가 아님"
else:
    temp = "5의 배수"
print(f"입력하신 수는 {num}, {temp}를 입력하셨군요")

정수를 입력하세요 :9
입력하신 수는 9, 5의 배수가 아님를 입력하셨군요

In [ ]:
# quiz 3. 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오

In [4]:
kor = int(input("국어?"))
eng = int(input("영어?"))
mat = int(input("수학?"))
sum = kor + eng + mat
avg = sum/3

국어?99
영어?100
수학?99

In [5]:
print("국어:{:3d}\t영어:{:3d}\t수학:{:3d}".format(kor, eng, mat))
print("총점:{:3d}\t평균:{:5.1f}".format(sum, avg))

국어: 99	영어:100	수학: 99
총점:298	평균: 99.3

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [6]:
a = 10
a += 5 # a = a+5
print('5더하기 :', a)

5더하기 : 15

In [7]:
a -= 5 # a = a-5
print('5빼기 :', a)
a *= 5 # a = a*5
print('5배 :', a)

5빼기 : 10
5배 : 50

## 5.3 논리연산자 : &,and, |, or, not

In [9]:
# & 논리연산자, 비트연산자
print( (10>3) & (10>5) ) # 논리연산 True & True
print(12 & 1)    # 비트연산 12 : 0000 1100
                 #          1 : 0000 0001
                 #    12 & 1  : 0000 0000

True
0

In [10]:
# and : False로 판별되는 첫번째 항을 반환
#      모든 항이 참이면 마지막 항을 반환
print(True and 1 and 3)
print(0 and True)
print(True and [] and True and True and True)

3
0
[]

In [11]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 0000 (False)
                   # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [12]:
# or : 논리연산, 참으로 판별되는 첫번째 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('Hong' or ' ' or False)

None
Hong

In [13]:
print(not True)

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [14]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print((4<x) & (x<10) )
print(4 < x < 10)

True
True

In [15]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다
print( (10>5) & (10>7) )
print( 10>5 & 10>7 )  # 0101(5) 
                      # 1010(10)
print( 10> 0 >7)
print( 10>5 and 10>7)

True
False
False
True

In [16]:
address = '서울'
age = 29
# print( address=='서울' & age>=30 )
print( (address=='서울') & (age>=30) )
print( (address!='서울') & (age>=30) )

False
False

In [17]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
'scott' < 'sctiger'

True

In [18]:
'9' > '10'

True

In [19]:
'김길동김수한무거북이와' < '홍길동'

True

## 5.5 비트연산자 ; &, |, ^(XOR), ~

In [ ]:
# x  y   x&Y   X^Y
# 0  0    0     0
# 0  1    0     1
# 1  0    0     1
# 1  1    1     0

In [21]:
a = 15 # 1111
b = 2  # 0010
print(" a  = {0:2} : {0:04b}".format(a))
print(" b  = {0:2} : {0:04b}".format(b))
print("a^b = {0:2} : {0:04b}".format(a^b))

 a  = 15 : 1111
 b  =  2 : 0010
a^b = 13 : 1101

### -연산자
- 산술연산 : + - * / // % **
- 할당연산 : = += -= *= /= //= %=
- 논리연산 : & and | or not
- 비교연산 : > >= < <= == !=
- 비트연산 : & | ^
- &와 |은 비교연산자보다 우선순위가 높다

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수[from:stop:step]

- len(문자열변수) : 문자갯수

- upper() : 대문자로

- lower() : 소문자로

- title() : 각 어절의 첫글자만 대문자로

- capitalize() : 첫문자만 대문자로

- count('찾을문자열') : '찾을문자열'이 몇개 들어있는지 갯수 반환

- find('찾을문자열') : 찾을문자열이 왼쪽부터 시작하여 몇번째에 있는지 인덱스를 반환

- rfind('찾을문자열') : 찾을문자열이 오른쪽부터 시작하여 몇번째에 있는지 인덱스를 반환 찾을문자열이 없으면 -1을 반환 cf) index('찾을문자열'):찾을문자열의 인덱스를 반환. 찾을문자열이 없으면 오류

- startswith('특정문자열') : 특정문자열로 시작하는지 여부

- endswith('특정문자열') : 특정문자열로 끝나는지 여부

- strip() : 좌우 공백 제거

- rstrip() : 오른쪽 공백 제거

- lstrip() : 왼쪽 공백 제거

- isdigit() : 문자열이 숫자문자열인지 여부

- islower() : 소문자문자열인지 여부

- isupper() : 대문자문자열인지 여부

- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [28]:
temp = "python is easy. pYThon is smart. python"
#       012345678901234567890123456789012345678
print('1. 글자수', len(temp))
print('2. 대문자로 :', temp.upper())
print('3. 소문자로 :', temp.lower())
print('4. title :',   temp.title())
print('5. capitalize() :', temp.capitalize())
print('6. python이 몇번 나오는지 :', temp.count('python'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.lower().count('python'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.title().count('Python'))
print('8. python이 나오는 첫 index 위치 :', temp.find('python'))
print('8. python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('8. java이 나오는 마지막 index 위치 :', temp.rfind('java'))
print('8. python이 나오는 첫 index 위치 :', temp.index('python'))
# print('8. java이 나오는 마지막 index 위치 :', temp.index('java'))
print('9. python으로 시작하는지 여부 :', temp.startswith('python'))
print('10. python으로 끝나는지 여부 :', temp.endswith('PYTHON'))
print('10. 대소문자 구분없이 python으로 끝나는지 여부 :', temp.upper().endswith('PYTHON'))

1. 글자수 39
2. 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 : python is easy. python is smart. python
4. title : Python Is Easy. Python Is Smart. Python
5. capitalize() : Python is easy. python is smart. python
6. python이 몇번 나오는지 : 2
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
8. python이 나오는 첫 index 위치 : 0
8. python이 나오는 마지막 index 위치 : 33
8. java이 나오는 마지막 index 위치 : -1
8. python이 나오는 첫 index 위치 : 0
9. python으로 시작하는지 여부 : True
10. python으로 끝나는지 여부 : False
10. 대소문자 구분없이 python으로 끝나는지 여부 : True

In [29]:
temp = '    Python is easy.     '
notdisit = '1,000,000'
num_str = '1000'
print('11. 좌우공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 :', notdisit.isdigit())
print('13. 소문자문자열인지 :', temp.islower())
print('13. 대문자문자열인지 :', temp.isupper())
print('14. ,제거 :', notdisit.replace(',', ''))
print('14. ,제거 :', num_str.replace(',', ''))

11. 좌우공백제거 : [Python is easy.]
11. 좌측공백제거 : [Python is easy.     ]
11. 우측공백제거 : [    Python is easy.]
12. 숫자문자열인지 : False
13. 소문자문자열인지 : False
13. 대문자문자열인지 : False
14. ,제거 : 1000000
14. ,제거 : 1000

In [30]:
temp = " 홍길동   김길동 신길똥 유길동"
print('space단위로 temp를 분리 :', temp.split()) #기본이 space 단위로 분리

space단위로 temp를 분리 : ['홍길동', '김길동', '신길똥', '유길동']

In [31]:
data = "2025-04-10"
print(' - 단위로 data를 분리(결과 : list)')
data_list = data.split('-')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [32]:
# ' - '을 '/'로 바꾸기
temp = "Python - HTML/CSS - JavaScript - DBMS"
# temp.replace(' - ', '/')
print('원 데이터 :', temp)
splited_temp = temp.split(' - ')
print('분리된 데이터 :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join된 데이터 :', joined_temp)

원 데이터 : Python - HTML/CSS - JavaScript - DBMS
분리된 데이터 : ['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
join된 데이터 : Python/HTML/CSS/JavaScript/DBMS

In [33]:
str_ = 'ABC' 
# str_ = ['A','B','C']

In [34]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절 시간,날짜, 날짜시간 다루기

In [43]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [44]:
# datetime모듈(datetime.py)안의 datetime, date, time을 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [45]:
# 특정한 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [54]:
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 반환
print("{:%Y년%m월%d일(%A) %p %I시%M분 %S초}".format(thatday))
print(thatday.strftime("%Y년%m월%d일(%A) %p %I시%M분 %S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일(월요일) 오전 09시30분 00초
2025년04월07일(월요일) 오전 09시30분 00초

In [47]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [48]:
now = datetime.now()
print(now.strftime("%y-%m%d(%A) %H:%M:%S"))

25-0411(금요일) 10:40:50

In [32]:
diff = now - thatday
diff

datetime.timedelta(days=4, seconds=2782, microseconds=928140)

In [36]:
diff.days

4

## 7.2 날짜

In [37]:
someday = date(2025, 9, 3)
someday

datetime.date(2025, 9, 3)

In [38]:
print(someday.strftime("%Y년%m월%d일"))

2025년09월03일

In [55]:
# 오늘
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [57]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [58]:
diff = someday - today
diff.days

145

## 7.3 시간

In [59]:
# 특정 시간
t = time(13,10)
t

datetime.time(13, 10)

In [60]:
print(t)
print(t.strftime("%I시%m분%S초"))

13:10:00
01시01분00초

In [51]:
# 지금 시간
now_time = datetime.now().time()
now_time

datetime.time(10, 43, 58, 32617)

In [52]:
now_time.strftime("H시 %M분 %S초")

'H시 43분 58초'

## datetime, date, time형들을 원하는 포맷의 문자형으로 반환 : strftime()**

- %Y, %y, %m, %d, %A(요일) %p(오전/오후) %H(24시) %I(12시) %M(분) %S(초)

In [ ]:
# 8절. 연습문제

In [35]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23살입니다]
name = '홍길동'
age = 23
print('{}님의 나이는 {}살입니다'.format(name, age))
print('{0}님의 나이는 {1}살입니다'.format(name, age))
print('%s님의 나이는 %d살입니다'% (name, age))
print(f'{name}님의 나이는 {age}살입니다')

홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다

In [5]:
# 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요
a = int(input('정수를 입력하세요 :'))
b = int(input('정수를 입력하세요 :'))
print(f"{a} + {b} = {a + b}") 
print(f"{a} - {b} = {a - b}") 
print(f"{a} * {b} = {a * b}") 
if b != 0:
    print(f"{a} / {b} = {a / b:.2f}")  
    print(f"{a} // {b} = {a // b}")     
    print(f"{a} % {b} = {a % b}")

정수를 입력하세요 :13
정수를 입력하세요 :5
13 + 5 = 18
13 - 5 = 8
13 * 5 = 65
13 / 5 = 2.60
13 // 5 = 2
13 % 5 = 3

In [44]:
# 문자열의 분리하기와 합치기 기능을 이용하여 'Hello World' 가 할당된 변수를 이용하여 'World Hello'로 출력하세요
text = "Hello World"
words = text.split()
reversed_words = [words[1], words[0]]
result = ' '.join(reversed_words)
print(result)

World Hello

In [45]:
ext = "Hello World"
result = ' '.join(text.split()[::-1])
print(result)

World Hello

In [48]:
# x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 (문자 슬라이싱이용).
x = ' abcdef '
x = x.strip()
result = x[1:] + x[0]
print(result)

bcdefa

In [49]:
# x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
x = ' abcdef '
x = x.strip()
reversed_x = x[::-1]
print(reversed_x)

fedcba

In [50]:
# 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요.
celsius = float(input("오늘의 섭씨 온도를 입력하세요: "))
fahrenheit = (celsius * 1.8) + 32
if fahrenheit.is_integer():
    print(f"화씨 온도는 {int(fahrenheit)}도입니다.")

오늘의 섭씨 온도를 입력하세요: 15
화씨 온도는 59도입니다.

In [52]:
celsius = float(input("오늘의 섭씨 온도: "))
fahrenheit = (celsius * 1.8) + 32
print(f"화씨 온도: {fahrenheit:.2f}도")

오늘의 섭씨 온도: 18
화씨 온도: 64.40도

In [ ]:
# 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
①, ②, ③
- 숫자로 시작할 수 없음
- 예약어(for, if, class 등)는 사용할 수 없음
- 특수문자(공백, 점 등)는 사용할 수 없음
- 영문자, 숫자, 밑줄(_)만 사용 가능
- 대소문자 구분함

In [53]:
# 다음의 코드의 실행결과는?
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [ ]:
# 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은? ②
① //는 정수 나눗셈(몫) 연산자, 8 // 2 → 4 맞음.
② /는 일반 나눗셈, 결과는 항상 float(실수), 8 / 2 → 4.0 틀림.
③ **는 거듭제곱 연산자, 8 ** 2 → 8 * 8 → 64 맞음.

In [ ]:
# 아래 프로그램의 결과는?
정수(int)와 문자열(str) 을 직접 더할 수 없기 때문에 아래와 같은 Error가 발생
x = 5
y = "John"
print(str(x) + y)
x = 5
y = "3"
print(x + int(y))

In [63]:
# split() 함수를 이용하여 str_ 의 값 중 나라 를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
words = str_.split()
for word in words:
    if word == "나라":
        print(word)

나라

In [55]:
str_ = "우리 나라 대한 민국"
words = str_.split()
print(words[1])

나라