In [9]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:95% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font color="red" size="5">ch05_.함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩1.(같은 이름의 함수를 매개변수를 달리해서 사용) 파이썬 불가
- 오버로딩2.(함수 이름이 같고, 매개변수의 타입의나 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
def add(a, b):
    print(1)
def add(a):
    print(2)

In [17]:
# 함수 정의
def my_message(x, msg): # msg x번 출력하는 함수
    for i in range(x):
        print(msg)

In [15]:
# 함수 사용
my_message()

TypeError: my_message() missing 2 required positional arguments: 'x' and 'msg'

In [18]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [19]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [20]:
type(my_msg), type(my_message)

(function, function)

In [21]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [22]:
my_message(2, 'Hello')

Hello
Hello

In [3]:
my_message = 5

In [4]:
def my_message(a, b):
    pass

In [5]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [6]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

In [7]:
# 함수사용 = 함수호출
my_hello()

Hello, Python
Hello, World

In [9]:
# 함수 정의 : 4월 16일
def my_hello():
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')
        print('Hello, World')

In [10]:
# 함수 사용 = 함수 호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [11]:
my_hello

In [12]:
__name__

'__main__'

In [14]:
if __name__=='__main__':
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [3]:
import ch05 # ch05모듈을 load

In [4]:
ch05.my_hello

In [5]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [6]:
from ch05 import my_hello # ch05모듈안의 my_hello load

In [7]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [13]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링을 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [10]:
def my_function()

SyntaxError: expected ':' (2330405485.py, line 1)

In [15]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링을 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [17]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() #개행

In [18]:
fibonacci(10)

0 1 1 2 3 5 8

In [19]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [21]:
global_var = 100 # 전역변수
def func1():
    print('함수안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수안 : 100
함수 밖 : 100

In [22]:
def func2():
    local_var = 200 # 지역변수
    print('함수안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수안 : 200

NameError: name 'local_var' is not defined

In [24]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [25]:
g_var = 100 # 전역변수
def funnc4():
    print('함수 안 :', g_var)
    g_var = 200 # 지역변수
funnc4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [27]:
# 렉시컬 특성
g_var = 100 # 전역변수
def funnc4():
    print('함수 안 :', g_var)
    # g_var = 200  지역변수를 할당 하지 않으면 오류가 나지 않음
funnc4()

함수 안 : 100

In [29]:
# 렉시컬 특성
g_var = 100 # 전역변수
def funnc4():
    global g_var 
    print('함수 안 :', g_var)
    g_var = 200  # 전역변수로 바꾸고 싶다면
funnc4()
print('함수 밖 :', g_var)

함수 안 : 100
함수 밖 : 200

In [31]:
# 렉시컬 특성 예시
g_var = 100 # 전역변수
def funnc4():
    # global g_var # funnc4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 :', g_var)
    g_var = 200  # 전역변수로 바꾸고 싶다면
funnc4()
print('함수 밖 :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [32]:
# 렉시컬 특성 예시
g_var = 100 # 전역변수
def funnc4():
    # global g_var # funnc4함수내의 g_var는 전역변수를 쓴다
    g_var = 300
    print('함수 안 :', g_var)
    g_var = 200  # 전역변수로 바꾸고 싶다면
funnc4()
print('함수 밖 :', g_var)

함수 안 : 300
함수 밖 : 100

## 1.4 값에 의한 호출
- 함수의 매개변수(인수=인자)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [30]:
foo = 10 # 전역변수
id(foo)

2327262134800

In [31]:
def func1(f): # 매개변수 f는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f*3
    print('After :', f , ' id(f) :', id(f))
func1(foo)

Before : 10  id(f) : 2327262134800
After : 30  id(f) : 2327262135440

In [32]:
print(foo, id(foo))

10 2327262134800

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자=인수)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [36]:
L = [1, 2, 3]
id(L)

2952539672000

In [46]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f)) 
    f.append(4)
    print('after :', f, id(f)) 
func2(L)

Before : [1, 2, 3, 4, 4, 4] 2952539672000
after : [1, 2, 3, 4, 4, 4, 4] 2952539672000

In [47]:
print('L =', L, id(L))

L = [1, 2, 3, 4, 4, 4, 4] 2952539672000

# 2절. 함수의 실행 결과를 반환하는 return

In [34]:
def fibonacci_print(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행    
def fibonacci_return(n):
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [35]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [36]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [68]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [74]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y)
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [4]:
def make_url(ip, port=80): # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [5]:
print(make_url('www.naver.com'))
print(make_url('localhost' , 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [6]:
i = 5
l = []
def func2(arg=l):
    pass

In [7]:
i = 10

In [8]:
func2()

In [10]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func2(arg=i):
    print('arg =', arg)

In [11]:
i = 50
func2()

arg = 5

In [12]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터 구조)일 때 : arg의 기본값은 함수가 정의되는 시점의 값
def func3(data, L=list_):
    'data를 L에 append'
    L.append(data)
    return L

In [13]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [14]:
print(func3(20))

[10, 20]

In [15]:
list_

[10, 20]

In [19]:
def func4(data, L=None):
    if L==None:
        L = []
    L.append(data)
    return L

In [20]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [39]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [41]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [42]:
# *args: 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ',args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [43]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

1
3
6
25

In [44]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [46]:
def concat(*subject, sep):
    return sep.join(subject)

In [49]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [50]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [51]:
# 해결책2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [52]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [53]:
print('Python', 'Oracle', 'DL', 'ML', sep=' / ')

Python / Oracle / DL / ML

In [54]:
# 해결책 3
def concat(sep, *subject):
    return sep.join(subject)

In [55]:
concat('Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [57]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [58]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [59]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [60]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [61]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [62]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [63]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [64]:
func7(10, 20, 1, 2, 3, '딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 함수 호출시 매개변수앞에 * 붙임

In [65]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [66]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [67]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [68]:
numbers = (1,2,3,4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹

In [69]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [70]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [72]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
## 4.1 람다식 연습

In [80]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
    result = "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
print('매개변수는 :',ex1(5))
print('매개변수는 :',ex1(8))

매개변수는 : 홀수
매개변수는 : 짝수

In [87]:
# ex2. 두 매개변수의 차이를 return
# def ex2(num1, num2):
#     ex2_lambda = lambda num1, num2: num1 - num2
#     return num1 - num2
# result = ex2(10, 5)
# print(f"10과 5의 차이: {result}")
def diff(a, b):
#     if a>b:
#         result = a-b
#     else:
#         result = b-a
    result = a-b if a>b else b-a
    return result
diff(2, 1), diff(10, 20)

(1, 10)

In [88]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2, 1), ex2(10, 20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [89]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'nagative'를 return
ex3 = lambda money : money if money>0 else 'nagative'
ex3(1000), ex3(-100)

(1000, 'nagative')

In [94]:
# ex4. 점수를 입력받아 점수가 80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험.
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(83), ex4(70), ex4(40)

('유효하지 않음', 'A팀', 'B팀', '재시험')

In [ ]:
# ex4. 점수를 입력받아 점수가 80점이상은 A팀, 60점이상은 B팀, 60점미만은 재시험.
#      그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(83), ex4(70), ex4(40)

In [95]:
# ex5. 두 매개변수의 차이를 return
def safe_index(vecter, data):
    if data in vecter:  
        return vecter.index(data)
    else:
        return -1

In [96]:
ex5 = lambda vecter, data : vecter.index(data) if data in vecter else -1
tup =(1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)